.site-brand{line-height: 2.2rem!important;}
.site-brand .logo{position: relative;top:-3px;margin-right:0.3em!important;width:2.2rem!important;height:2.2rem!important;}
.banner-wrapper .banner-brand__content h1{color:#ffb100;margin-top: 6rem;padding-left:360px;font-size:2rem;}
.banner-wrapper .banner-brand__content p{color:#fff;padding-left:500px;}